In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(context='paper', style='whitegrid', color_codes=True, font_scale=1.8)
colorcycle = [(0.498, 0.788, 0.498),
              (0.745, 0.682, 0.831),
              (0.992, 0.753, 0.525),
              (0.220, 0.424, 0.690),
              (0.749, 0.357, 0.090),
              (1.000, 1.000, 0.600),
              (0.941, 0.008, 0.498),
              (0.400, 0.400, 0.400)]
sns.set_palette(colorcycle)
mpl.rcParams['figure.max_open_warning'] = 65
mpl.rcParams['figure.figsize'] = [12, 7]

import sys
import os
sys.path.append(os.path.abspath(".."))

import numpy as np  # noqa
import pandas as pd
import itertools
from speclib import loaders

%matplotlib inline

In [2]:
df = pd.read_msgpack('../allan_data/bluetooth.msgpack')

In [3]:
df.shape

(77738977, 7)

In [4]:
df.head()

,bt_mac,class,id,name,rssi,scanned_user,user
timestamp,,,,,,,
2013-12-05 10:51:22,2f2ae7a8f68d6f66de4198bc7326fd3326680f4d5bcf3c...,4063500,24838993,b8505ec380543b901bd61355348a442d,-80,NaN,u0182
2013-12-05 10:51:22,7af08c543a2f81ca130b96397c08e97d1aa6338a761147...,5898764,24838994,5533e1cccdc47b11570846700393084a,-78,NaN,u0182
2013-12-05 10:51:22,bba1612f9961ca163d314c506e8f12bf4f9b5878f55759...,5898764,24838995,d565ccd0b683ad49f3d1cdd5d02ae79e,-65,u0069,u0182
2013-12-05 10:51:22,63be2ac92478e550184cdcac47eff78f9354c3ca164497...,5898764,24838996,d565ccd0b683ad49f3d1cdd5d02ae79e,-80,u0331,u0182
2013-12-05 10:51:22,b4116b6dd742c591e1dc7cfbc447431425f7042f9f83ae...,5898764,24838997,d565ccd0b683ad49f3d1cdd5d02ae79e,-72,NaN,u0182

In [5]:
u0182 = df[df.user == 'u0182']

In [8]:
btcnt = u0182.bt_mac.value_counts()