In [1]:
import numpy as np
import pandas as pd

In [30]:
np.random.seed(42)
df0 = pd.DataFrame(np.random.randint(0, 100, size=(10, 4)), columns=list('abcd'))
df1 = pd.DataFrame(np.random.randint(0, 100, size=(10, 4)), columns=list('abcd'))
df2 = pd.DataFrame(np.random.randint(0, 100, size=(10, 4)), columns=list('abcd'))
df3 = pd.DataFrame(np.random.randint(0, 100, size=(10, 4)), columns=list('abcd'))
df0

    a   b   c   d
0  51  92  14  71
1  60  20  82  86
2  74  74  87  99
3  23   2  21  52
4   1  87  29  37
5   1  63  59  20
6  32  75  57  21
7  88  48  90  58
8  41  91  59  79
9  14  61  61  46

In [33]:
store = pd.io.pytables.HDFStore('./test.h5', 'w')
store.put('df0', df0)
store.put('df1', df1)
store.put('df2', df2)
store.put('df3', df3)
store.close()

In [55]:
store = pd.io.pytables.HDFStore('./test.h5', 'r')
store.keys()

sc = {k.replace('/', ''): store[k] for k in store.keys()} 

store.close()

sc.keys()

dict_keys(['df2', 'df0', 'df1', 'df3'])